<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>blog</title>
        {% load staticfiles %}
        <link href="{% static 'blog/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'blog/style/style.css' %}" rel="stylesheet" media="screen">
        <script src="{% static 'blog/jQuery/jquery-1.11.1.min.js' %}" type='text/javascript'></script>
        <script src="{% static 'blog/bootstrap/js/bootstrap.min.js' %}" type='text/javascript'></script>
    </head>    
    <body> 
        <div class="container">
            <div class="row" id="header">
                <h1>
                    <div id="title">Блог</div>
                </h1>
            </div>

            <div class="row" id="content">
                <div class="span3 sidebar">sidebar
                </div>
                <div class="span9">
                    <div class="row posts">posts
                        <div class="span7">
                            <h3>
                                <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
                            </h3>
                                <p>{{ post.pub_date }}</p>
                                <p>{{ post.text}}</p>            

                        </div>
                    </div>
                </div>   
                <h4>Добавить комментарий:</h4>
                <form action="{% url 'blog:add_comment' post.id %}" method="post">
                {% csrf_token %}

                <div class="input-group">
                Имя: {{ comment_form.comment_author }}
                </div>

                <div class="input-group">
                {{ comment_form.text }}
                </div>
                <button type="submit" class="btn">Отправить</button>


                {% if comment_list %}
                        <h4>Комментарий:</h4>                   
                        {% for comment in comment_list %}
                            <ul>
                                <div class="row" id="comment">
                                    <div class="comment">
                                        <div class="time">{{ comment.pub_date }}</div>
                                        <h5><div class="title">{{ comment.comment_author }}</div></h5>
                                        <div class="text">{{ comment.text }}</div>
                                    </div>
                                </comment>
                            </ul>
                        {% endfor %}
                    {% endif %}

            </div>

            <div class="row" id="footer">footer
                <div class="span12"></div>
            </div>
        </div>

    </body>
</html>